@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Integr8ed.Service.Enums
@inject IHttpContextAccessor HttpContextAccessor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Integr8ed</title>

    <link rel="stylesheet" href="~/css/bootstrap.css">

    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css" />

    <link href="~/css/clockpicker.css" rel="stylesheet" />

    <link href="~/css/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/sweetalert.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendors/chartjs/Chart.min.css">

    <link rel="stylesheet" href="~/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/css/app.css">
    

    <link href="~/css/jquery-ui.css" rel="stylesheet" />

    @* Custom CSS *@
    <link href="~/css/admin-style.css" rel="stylesheet" />
    <link href="~/css/admin-responsive-style.css" rel="stylesheet" />

    @* Font family *@
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    @* Font Awsome Icons *@
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin />
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    @*<link href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap4.min.css"/>*@
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    @RenderSection("Head", required: false)
<style>
    .notification {
        background-color: #e8f3ff;
        text-decoration: none;
        padding: 5px 10px;
        position: relative;
        display: inline-block;
        border-radius: 5px;
    }

        .notification:hover {
            background: #1b6ec2;
            color: white;
        }

        .notification .badge {
            position: absolute;
            top: -13px;
            right: -12px;
            padding: 5px 10px;
            border-radius: 50px;
            background-color: red;
            color: white;
        }
</style>
</head>

<body>
    <div id="app">

        @* Main Side-Bar Start *@
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <a href="/ClientAdmin/Dashboard/index"><img src="~/images/Integr8ed Systems_blank.png" alt="" srcset=""></a>
                    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">

                        <li class='sidebar-title'>Main Menu</li>

                        <li class="sidebar-item active ">
                            <a href="/ClientAdmin/Dashboard/index" class='sidebar-link'>
                                <i class="fas fa-tachometer-alt"></i>
                                <span>Dashboard</span>
                            </a>

                        </li>
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1)
                        {
                            <li class="sidebar-item active ">
                                <a href="/ClientAdmin/Branch/Index" class='sidebar-link'>
                                    <i class="fas fa-code-branch"></i>
                                    <span>Manage Branch</span>
                                </a>

                            </li>

                        }

                    <div class="panel-group custom_accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32("RoomType") == (int)UserMenu.Access.RoomType
               || HttpContextAccessor.HttpContext.Session.GetInt32("MeetingType") == (int)UserMenu.Access.MeetingType
               || HttpContextAccessor.HttpContext.Session.GetInt32("EquipmentRequirement") == (int)UserMenu.Access.EquipmentRequirement
               || HttpContextAccessor.HttpContext.Session.GetInt32("DelegetsCodes") == (int)UserMenu.Access.DelegetsCodes
               || HttpContextAccessor.HttpContext.Session.GetInt32("UserGroup") == (int)UserMenu.Access.UserGroup
               || HttpContextAccessor.HttpContext.Session.GetInt32("EntryType") == (int)UserMenu.Access.EntryType
               || HttpContextAccessor.HttpContext.Session.GetInt32("InvoiceItem") == (int)UserMenu.Access.InvoiceItem
               || HttpContextAccessor.HttpContext.Session.GetInt32("BookingStatus") == (int)UserMenu.Access.BookingStatus
               || HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1
               || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1
               )
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h5 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fab fa-mendeley"></i>
                                            <span>Datatable Menu</span>
                                        </a>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="panel-collapse collapse cust_transition" style="" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <ul class="sub_side_menu">
                                            @if (HttpContextAccessor.HttpContext.Session.GetInt32("RoomType") == (int)UserMenu.Access.RoomType ||
HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1)
                                            {

                                                <li><a class="" href="/ClientAdmin/RoomTypes/Index">Room Types</a></li>
                                            }




                                            @if (HttpContextAccessor.HttpContext.Session.GetInt32("MeetingType") == (int)UserMenu.Access.MeetingType || HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1)
                                            {
                                                <li><a class="" href="/ClientAdmin/MeetingType/Index">Meeting type</a></li>
                                            }
                                            @*@if (HttpContextAccessor.HttpContext.Session.GetInt32("EquipmentRequirement") == (int)UserMenu.Access.EquipmentRequirement || HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1)
        {

            <li><a class="" href="/ClientAdmin/EquipRequirement/Index">Equipment Requirements</a></li>
        }*@
                                            @if (HttpContextAccessor.HttpContext.Session.GetInt32("DelegetsCodes") == (int)UserMenu.Access.DelegetsCodes || HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1)
                                            {
                                                <li><a class="" href="/ClientAdmin/Visitors/Index">Visitor</a></li>
                                            }
                                            @if (HttpContextAccessor.HttpContext.Session.GetInt32("UserGroup") == (int)UserMenu.Access.UserGroup || HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1)
                                            {
                                                <li><a class="" href="/ClientAdmin/UserGroup/Index">User Group</a></li>
                                            }
                                            @if (HttpContextAccessor.HttpContext.Session.GetInt32("EntryType") == (int)UserMenu.Access.EntryType || HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1)
                                            {
                                                <li><a class="" href="/ClientAdmin/EntryType/Index">Entry type</a></li>
                                            }
                                            @if (HttpContextAccessor.HttpContext.Session.GetInt32("InvoiceItem") == (int)UserMenu.Access.InvoiceItem || HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1)
                                            {
                                                <li><a class="" href="/ClientAdmin/InvoiceItem/Index">Invoice Item</a></li>
                                            }
                                            @if (HttpContextAccessor.HttpContext.Session.GetInt32("BookingStatus") == (int)UserMenu.Access.EntryType || HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1)
                                            {
                                                <li><a class="" href="/ClientAdmin/BookingStatus/Index">Booking Status</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingtwo">
                                    <h5 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo">
                                            <i class="fas fa-user-shield"></i>
                                            <span>Manage Users</span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapsetwo" class="panel-collapse collapse cust_transition" style="" role="tabpanel" aria-labelledby="headingtwo">
                                    <div class="panel-body">
                                        <ul class="sub_side_menu">

                                            <li><a class="" href="/ClientAdmin/UserAccess/Index">User Access</a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }


                        @if (HttpContextAccessor.HttpContext.Session.GetInt32("CateringDetail") == (int)UserMenu.Access.CateringDetail || HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1)
                        {

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingthree">
                                    <h5 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
                                            <i class="fas fa-utensils"></i>
                                            <span>Catering Menu</span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapsethree" class="panel-collapse collapse cust_transition" style="" role="tabpanel" aria-labelledby="headingthree">
                                    <div class="panel-body">
                                        <ul class="sub_side_menu">
                                            <li><a class="" href="/ClientAdmin/Catering/Index">Catering Details</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            @*<li class="sidebar-item">
                <a href="../Catering/Index" class='sidebar-link'>
                    <i class="fas fa-utensils"></i>
                    <span>Catering Details</span>
                </a>
            </li>*@
                        }


                        @if (HttpContextAccessor.HttpContext.Session.GetInt32("RoomAvailability") == (int)UserMenu.Access.RoomAvailability
|| HttpContextAccessor.HttpContext.Session.GetInt32("Internal_ExternalBooking") == (int)UserMenu.Access.Internal_ExternalBooking
|| HttpContextAccessor.HttpContext.Session.GetInt32("RecurringBooking") == (int)UserMenu.Access.RecurringBooking

|| HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1)
                        {

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="internalbooking">
                                    <h5 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                            <i class="fas fa-hotel"></i>
                                            <span>Bookings</span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapsefour" class="panel-collapse collapse cust_transition" style="" role="tabpanel" aria-labelledby="internalbooking">
                                    <div class="panel-body">
                                        <ul class="sub_side_menu">
                                            @if (HttpContextAccessor.HttpContext.Session.GetInt32("RoomAvailability") == (int)UserMenu.Access.RoomAvailability || HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1)
                                            {
                                                <li><a class="" href="/ClientAdmin/RoomAvailability/Index">Room Availability</a></li>
                                            }
                                            @if (HttpContextAccessor.HttpContext.Session.GetInt32("Internal_ExternalBooking") == (int)UserMenu.Access.Internal_ExternalBooking || HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1)
                                            {
                                                <li><a class="" href="/ClientAdmin/InternalBooking/Index">Internal/External Booking</a></li>
                                            }
                                            @if (HttpContextAccessor.HttpContext.Session.GetInt32("RecurringBooking") == (int)UserMenu.Access.RecurringBooking || HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin") == 1)
                                            {
                                                <li><a class="" href="/ClientAdmin/RecurringBooking/Index">Recurring Booking</a></li>
                                                <li><a class="" href="/ClientAdmin/BookingDiary/Index">Booking Diary</a></li>
                                                @*<li><a class="" href="/ClientAdmin/Reports/Index">Reports</a></li>*@
                                                <li><a class="" href="/ClientAdmin/DiaryReports/Index">Weekly View Reports</a></li>
                                                <li><a class="" href="/ClientAdmin/DiaryReports/GetMonthlyDiaryReport">Monthly View Reports</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }

                        <li class="sidebar-item active ">
                            <a href="/ClientAdmin/Dashboard/ReferalCode" class='sidebar-link'>
                                <i class="fas fa-link"></i>
                                <span>Referral code</span>
                            </a>

                        </li>
                        <li class="sidebar-item active ">
                            <a href="/ClientAdmin/BookingRequest/Index" class='sidebar-link'>
                                <i class="fas fa-wave-square"></i>
                                <span>Booking Requests</span>
                            </a>

                        </li>
                        <li class="sidebar-item active ">
                            <a href="/ClientAdmin/BookingNotification/Index" class='sidebar-link'>
                                <i class="fas fa-bell"></i>
                                <span>Booking Notification</span>
                            </a>

                        </li>

                    </div>
                    </ul>

                </div>

            </div>
        </div>
        @* Main Side-Bar End *@

        @* Main Section Start *@
        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ml-auto">
                        @*<li class="dropdown nav-icon">
            <a href="#" data-toggle="dropdown" class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
                <div class="d-lg-inline-block">
                    <i data-feather="bell"></i>
                </div>
            </a>
        </li>*@

                        <li class="cust_col" id="ManageBranch"></li>
                        <li class="dropdown nav-icon mr-2">
                            @*<a href="mailto:ams@narola.email?subject=Mail to the admin" />*@
                            <a href="mailto:helpdesk@integr8ed.co.uk?subject=Mail to the admin" />
                            <div class="d-lg-inline-block">
                                <i data-feather="mail"></i>
                            </div>
                            </a>
                        </li>
                        <li class="cust_col" id="Notification">
                            <div class="form-group branch_dropdown">

                                <a href="/ClientAdmin/BookingRequest/Index" class="notification">
                                    <span>Booking Requests</span>
                                    <span class="badge  notificationCounts">3</span>
                                </a>
                            </div>

                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar mr-1">
                                    @if (HttpContextAccessor.HttpContext.Session.GetString("ClientAdminProfileImage") != "")
                                    {
                                        <img class="profile-pic" src="~/UploadedFiles/@HttpContextAccessor.HttpContext.Session.GetString("ClientAdminProfileImage")">
                                    }
                                    else
                                    {
                                        <img class="profile-pic" src="~/UploadedFiles/User-637431111822545152.png" />
                                    }
                                </div>
                                <div class="user_names d-lg-inline-block">Hi,  @HttpContextAccessor.HttpContext.Session.GetString("FullName")</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                @*<a class="dropdown-item" href="#"><i data-feather="user"></i> Account</a>
                <a class="dropdown-item active" href="#"><i data-feather="mail"></i> Messages</a>
                <a class="dropdown-item" href="#"><i data-feather="settings"></i> Settings</a>*@
                                @*<div class="dropdown-divider"></div>*@
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="button" id="btnResetPass" class="dropdown-item"><i class="fas fa-lock"></i> Change Password</button>
                                    <a class="dropdown-item" href="/ClientAdmin/Profile/Index"><i class="far fa-user"></i> Profile</a>
                                    <button type="submit" class="dropdown-item"><i class="fas fa-power-off"></i> Logout</button>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
            @* Render Body Start *@
            @RenderBody()
            <!-- Modal -->
            <div class="modal fade admin_modelpop multipopup" id="divModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div id="modalContent"></div>
                    </div>
                </div>
            </div>
            @* Render Body End *@
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-left">
                        <label class="left_t_l">
                            Integr8ed systems ltd
                        </label>
                        <p class="w_text_r">
                            Victoria House Woodwared Road
                            L33 7UY
                        </p>
                    </div>
                    <div class="float-right right_text">
                        <p><span> Phone : </span> +(123 - 456 - 789)</p>
                        <p>Room & Conference Manager 2022</p>
                        <p><span>Version : </span>1.1</p>
                    </div>
                </div>
            </footer>
        </div>
        @* Main Section End *@

    </div>

    @*</div>*@

    @* script *@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>

        <script src="~/js/feather-icons/feather.min.js"></script>
        <script src="~/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>

        <script src="~/js/app.js"></script>

        <script src="~/vendors/chartjs/Chart.js"></script>
        <script src="~/vendors/apexcharts/apexcharts.min.js"></script>

        <script src="~/js/main.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>*@


    <script src="~/Bundle/Integr8ted_Js.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
    @RenderSection("Scripts", required: false)
<script>
        //$(".panel-heading").parent('.panel').hover(
        //    function () {
        //        $(this).children('.collapse').collapse('show');
        //    },
        //    function () {
        //        $(this).children('.collapse').collapse('hide');
        //    }
        //);

        $(document).on("click", "#btnResetPass", function () {
            ResetPassword();
        });


        function ResetPassword() {
            $("#modalContent").load(`/ClientAdmin/Accounts/_ResetOldPassToNewPass`, function () {
                ShowModal();
            });
        }

    function BindBookingCounts() {
          $.ajax({
                  url: `/ClientAdmin/Dashboard/GetBookingRequestCounts`,
                type: 'GET',
                data: { userID:@HttpContextAccessor.HttpContext.Session.GetString("UserID")},
                success: function (response) {


                    $(".notificationCounts").html(response);
                },
                error: function () { }
            });
    }


    $(document).ready(function () {
      
      
            $.ajax({
                url: `/ClientAdmin/Dashboard/GetBranchList`,
                type: 'GET',
                data: { userID:@HttpContextAccessor.HttpContext.Session.GetString("UserID")},
                success: function (response) {

                    var selectlist = `<div class="form-group branch_dropdown">
                                            <label for="first-name-column" id="dropLabel"> Change Branch :</label>
<span id="AboveBranch" rel="tooltip"  data-placement="auto"  data-original-title="You don't have permission to change branch">
                                            <div  class="input-group" >
                                                <select  class="form-control form-select" data-val="true"  id="BranchId" name="BranchId">

                                                    {options}
                                                </select>
                                            </div>
 </span>
                                      </div>`;
                    var options = '';

                    for (let i = 0; i < response.length; i++) {
                        options += `<option value="${response[i].id}">${ response[i].branchName }</option>`;
                    }
                    
                    selectlist = selectlist.replace('{options}', options);
                    $("#ManageBranch").html(selectlist);

                   //$("#BranchId").val(@*@HttpContextAccessor.HttpContext.Session.GetString("AdminBranchId").ToString()*@);
                    $("#BranchId").prop("disabled", false);
                    if (localStorage.getItem("LastSelectId") != null)
                        $("#BranchId").val(localStorage.getItem("LastSelectId"));
                    $("#dropLabel").html("Change Branch :");
                    $("#AboveBranch").attr("data-original-title", "change branch");
                    $("#AboveBranch").tooltip();
                    

                    @*if (@HttpContextAccessor.HttpContext.Session.GetInt32("IsAdmin") === 1 || @HttpContextAccessor.HttpContext.Session.GetInt32("IsBranchAdmin")===1) {
                        $("#BranchId").prop("disabled", false);
                        $("#dropLabel").html("Change Branch :");
                        $("#AboveBranch").attr("data-original-title", "change branch");
                        $("#AboveBranch").tooltip();
                    } else {
                        $("#BranchId").prop("disabled", true);
                        $("#dropLabel").html("Branch");
                        $("#AboveBranch").attr("data-original-title", "You don't have permission to change branch");
                        $("#AboveBranch").tooltip();
                    }*@


                },
                error: function () { }
            });
      

            BindBookingCounts()



            $(document).off("change", "#BranchId");
            $(document).on("change", "#BranchId", function () {
                localStorage.setItem("LastSelectId", $("#BranchId").val());
                $.ajax({
                    url: `/ClientAdmin/Dashboard/changeBranch`,
                    type: "GET",
                    data: { id: $("#BranchId").val() },
                    success: function () {

                        var tableList = $(document).find('table');
                        var isDiary  = $.grep(tableList, function (a) {

                            var id = $(a).attr("id");
                            return (id === 'tblDiary');
                        })
                        var Url = "ClientAdmin/InternalBooking/Index";
                        if ($(location).attr("href").indexOf(Url) > 0 && isDiary.length == 0) {
                            $('#' + $(tableList[0]).attr('id')).DataTable().ajax.reload();

                        } else if (isDiary.length == 0) {

                            $.each(tableList, function (key, ele) {

                                //refresh datatables
                                $('#' + $(ele).attr('id')).DataTable().ajax.reload();

                            });
                        } else if (isDiary.length > 0) {
                          
                            localStorage.setItem("previousSelectedDate", $("#BookingDateFromSent").val());
                            
                          
                          
                            $("#btnDisplay").click();
                           

                        }

                        if (typeof GetdashboardDetail === "function") {

                            GetdashboardDetail();
                        }

                        BindBookingCounts()
                        
                    },
                    error: function () { },
                });
          
                

            });
        })



</script>
    @*@RenderSection("Scripts", required: false)*@

</body>
</html>

