@model Integr8ed.Service.Dto.BookingDetailsDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <style>

        #invoice {
            padding: 30px;
        }

        .row {
            width: 100%;
        }

        .col {
            width: 50%;
            display: inline-block;
        }

        .contacts {
            align-items: flex-end;
        }

        .invoice {
            position: relative;
            background-color: #FFF;
            min-height: 680px;
            padding: 15px
        }

            .invoice header {
                padding: 10px 0;
                margin-bottom: 20px;
                border-bottom: 1px solid #3989c6
            }

            .invoice .company-details {
                text-align: right;
                display: inline-block;
                float: right;
                margin-right: -30px;
            }

                .invoice .company-details .name {
                    margin-top: 0;
                    margin-bottom: 0
                }

            .invoice .contacts {
                margin-bottom: 20px
            }

            .invoice .invoice-to {
                /*text-align: left;*/
                width: 100%;
            }

                .invoice .invoice-to .to {
                    margin-top: 0;
                    margin-bottom: 0
                }

            .invoice .invoice-details {
                text-align: right;
                width: 100%;
            }

                .invoice .invoice-details .invoice-id {
                    margin-top: 0;
                    color: #3989c6
                }

            .invoice main {
                padding-bottom: 50px
            }

                .invoice main .thanks {
                    font-size: 2em;
                    margin-bottom: 50px
                }

                .invoice main .notices {
                    padding-left: 6px;
                    border-left: 6px solid #3989c6
                }

                    .invoice main .notices .notice {
                        font-size: 1.2em
                    }

            .invoice table {
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                margin-bottom: 20px
            }

                .invoice table td, .invoice table th {
                    padding: 15px;
                    background: #eee;
                    border-bottom: 1px solid #fff
                }

                .invoice table th {
                    white-space: nowrap;
                    font-weight: 400;
                    font-size: 16px
                }

                .invoice table td h3 {
                    margin: 0;
                    font-weight: 400;
                    color: #3989c6;
                    font-size: 1.2em
                }

                .invoice table .qty, .invoice table .total, .invoice table .unit {
                    text-align: right;
                    font-size: 1.2em
                }

                .invoice table .no {
                    color: #fff;
                    font-size: 1.6em;
                    background: #3989c6
                }

                .invoice table .unit {
                    background: #ddd
                }

                .invoice table .total {
                    background: #3989c6;
                    color: #fff
                }

                .invoice table tbody tr:last-child td {
                    border: none
                }

                .invoice table tfoot td {
                    background: 0 0;
                    border-bottom: none;
                    white-space: nowrap;
                    text-align: right;
                    padding: 10px 20px;
                    font-size: 1.2em;
                    border-top: 1px solid #aaa
                }

                .invoice table tfoot tr:first-child td {
                    border-top: none
                }

                .invoice table tfoot tr:last-child td {
                    color: #3989c6;
                    font-size: 1.4em;
                    border-top: 1px solid #3989c6
                }

                .invoice table tfoot tr td:first-child {
                    border: none
                }

            .invoice footer {
                width: 100%;
                text-align: center;
                color: #777;
                border-top: 1px solid #aaa;
                padding: 8px 0
            }

        .invoice-details .date {
            text-align: right;
            display: inline-block;
            float: right;

        }
        .date{
            width: 100%;
            text-align: right;
            margin: 0 -30px 0 0;
        }

        media print {
            .invoice{
            font-size: 11px !important;
            overflow: hidden !important
        }

        .invoice footer {
            position: absolute;
            bottom: 10px;
            page-break-after: always
        }

        .invoice > div:last-child {
            page-break-before: always
        }

        }


        .cust_rows {
            width: 100%;
            height: 120px;
        }
        .logo__Sec {
            display: inline-block;
            float: left;
        }
            /*.cust_rows .col {
                width: 50%;
            }

            .cust_rows .col {
                width: 50%;
            }*/
    </style>

</head>
<body>

    <div id="invoice">
        <div class="invoice overflow-auto">
            <div style="min-width: 600px">
                <header>
                    <div class="row cust_rows">
                        <div class="col logo__Sec">
                            <a target="_blank" href="http://clientapp.narola.online:1099">
                                <img src="http://clientapp.narola.online:1099/images/Integr8ed%20Systems_blank.png" width="150" height="45" data-holder-rendered="true" />
                            </a>
                        </div>
                        <div class="col company-details">
                            <h2 class="name">
                                <a target="_blank" href="http://clientapp.narola.online:1099">
                                    @HttpContextAccessor.HttpContext.Session.GetString("FullName")
                                </a>
                            </h2>
                            <div>@HttpContextAccessor.HttpContext.Session.GetString("CompanyAddress")</div>
                            <div>@HttpContextAccessor.HttpContext.Session.GetString("CompanyMobile")</div>
                            <div>@HttpContextAccessor.HttpContext.Session.GetString("UserName")</div>
                        </div>
                    </div>
                </header>
                <main>
                    <div class="row contacts">
                        <div class="col invoice-to">
                            <div class="text-gray-light">INVOICE TO:</div>
                            <h2 class="to">@Model.BookingContact</h2>
                            @*<div class="address">@Model.InvoiceAddress</div>
                            <div class="email"><a href="@Model.Email">@Model.Email</a></div>*@

                        </div>
                        @*<div class="date">Request Date: @Model.InvoiceRequestDate</div>*@
                        <div class="col invoice-details">
            <div class="date">Date of Invoice: @Model.BookingDateForDisplay</div>

        </div>
                    </div>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th class="text-left">Title of Meeting</th>
                                <th class="text-left">Room Type</th>
                                <th class="text-left">Hourly Rate</th>
                                <th class="text-left">Saturday Rate</th>
                                <th class="text-left">Sunday Rate</th>
                                <th class="text-left">StartTime</th>
                                <th class="text-left">FinishTime</th>
                                <th class="text-right">No. Person</th>
                                <th class="text-right">Booking Cost</th>
                            </tr>
                        </thead>
                        <tbody>

                            

                                <tr>
                                    <td class="text-left"> <h3> @(Model.TitleOfMeeting?? "") </h3></td>
                                    <td class="text-left"> <h3> @(Model.RoomType ?? "") </h3></td>
                                    <td class="text-left"> <h3> @(Model.HourlyRate ?? "") </h3></td>
                                    <td class="text-left"> <h3> @(Model.SaturdayRate ?? "") </h3></td>
                                    <td class="text-left"> <h3> @(Model.SundayRate ?? "") </h3></td>
                                    <td class="text-left"> <h3> @(Model.StartTime ?? "") </h3></td>
                                    <td class="text-left"> <h3> @(Model.FinishTime ?? "") </h3></td>
                                    <td class="qty">@Model.NumberOfAttending</td>
                                    <td class="unit">£ @(Model.Cost-((Model.Cost*2)/100))</td>
                                </tr>
                           
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">INVOICE AMOUNT</td>
                                <td>£ @(Model.Cost - ((Model.Cost * 2)/100))</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">OverAll VAT 2 %</td>
                                <td>£ @((Model.Cost * 2)/100)</td>
                            </tr>

                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">GROSS AMOUNT</td>
                                <td>£ @(Model.Cost)</td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="thanks">Thank you!</div>
                    <div class="notices">
                        <div>NOTICE:</div>
                        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                    </div>
                </main>
                <footer>
                    Invoice was created on a computer and is valid without the signature and seal.
                </footer>
            </div>
            <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
            <div></div>
        </div>
    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>