<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking Confirmation</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">


    <style type="text/css">
        /*********************  Default-CSS  *********************/

        input[type="file"]::-webkit-file-upload-button {
            cursor: pointer;
        }

        input[type="file"]::-moz-file-upload-button {
            cursor: pointer;
        }

        input[type="file"]::-ms-file-upload-button {
            cursor: pointer;
        }

        input[type="file"]::-o-file-upload-button {
            cursor: pointer;
        }

        input[type="file"],
        a[href],
        input[type='submit'],
        input[type='button'],
        input[type='image'],
        label[for],
        select,
        button,
        .pointer {
            cursor: pointer;
        }

        html body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            line-height: 1.3;
            font-size: 14px;
        }

        a,
        div a:hover,
        div a:active,
        div a:focus,
        button {
            text-decoration: none;
            -webkit-transition: all 0.5s ease 0s;
            -moz-transition: all 0.5s ease 0s;
            -ms-transition: all 0.5s ease 0s;
            -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
        }

        a,
        span,
        div a:hover,
        div a:active,
        button {
            text-decoration: none;
        }

        *::after,
        *::before,
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box;
        }

        .no-list li,
        .no-list ul,
        .no-list ol,
        footer li,
        footer ul,
        footer ol,
        header li,
        header ul,
        header ol {
            list-style: inside none none;
        }

        .no-list ul,
        .no-list ol,
        footer ul,
        footer ol,
        header ul,
        header ol {
            margin: 0;
            padding: 0;
        }

        a {
            outline: none;
            color: #555;
        }

            a:hover {
                color: #000;
            }

        body .clearfix,
        body .clear {
            clear: both;
            line-height: 100%;
        }

        body .clearfix {
            height: auto;
        }

        * {
            outline: none !important;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
        }


        ul:after,
        li:after,
        .clr:after,
        .clearfix:after,
        .container:after,
        .grve-container:after {
            clear: both;
            display: block;
            content: "";
        }

        div input,
        div select,
        div textarea,
        div button {
            font-family: 'Poppins', sans-serif;
        }

        body h1,
        body h2,
        body h3,
        body h4,
        body h5,
        body h6 {
            font-family: 'Poppins', sans-serif;
            line-height: 120%;
            color: #333;
            font-weight: 600;
            margin: 0 0 15px;
        }

            body h1:last-child,
            body h2:last-child,
            body h3:last-child,
            body h4:last-child,
            body h5:last-child,
            body h6:last-child {
                margin-bottom: 0;
            }

        div select {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

            div select option {
                font-size: 13px;
                color: #333;
                padding: 2px 5px;
            }

        img {
            margin: 0 auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }

        body p {
            color: #333;
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            line-height: 140%;
            margin: 0 0 15px;
            padding: 0;
        }

            body p:empty {
                margin: 0;
                line-height: 0;
            }

            body p:last-child {
                margin-bottom: 0;
            }

        p strong {
            font-weight: bold;
        }

        .a-left {
            text-align: left;
        }

        .a-right {
            text-align: right;
        }

        .a-center {
            text-align: center;
        }

        table th, table td {
            vertical-align: top;
            text-align: left;
            padding: 0;
            line-height: 1.5;
        }



        .inner-table {
            background: #d2e6ff;
            border-radius: 15px;
        }

            .inner-table th, .inner-table td {
                padding: 15px 5px;
                text-align: center;
                border: 2px solid #fff;
            }

            .inner-table th {
                font-weight: 600;
                color: #5590d8;
                width: 25%;
            }



        .address-block {
            display: block;
            margin-bottom: 30px;
        }

        .mb-0 {
            margin-bottom: 0 !important;
        }

        .address-block label {
            display: block;
            color: #5590d8;
            font-weight: 600;
        }
    </style>
    <script src="~/Bundle/Integr8ted_Js.js"></script>
    @*<script>

            debugger;
            var startTimeValue = moment('@Model.StartTime', "hh:mm").format("HH:mm");
            var finishTimeValue = moment('@Model.FinishTime', "hh:mm").format("HH:mm");


            var start = new Date.parseExact(startTimeValue, "hh-mm");
            var finish = new Date.parseExact(finishTimeValue, "hh-mm");
            //var Duration = (finishTimeValue - startTimeValue);
            //console.log(Duration);

            //var today = new Date();
            //var Christmas = new Date(today.getFullYear() + "-12-25");
            var diffMs = (finish - start);
            //var diffDays = Math.floor(diffMs / 86400000); // days
            var diffHrs = Math.floor((diffMs % 86400000) / 3600000); // hours
            var diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000); // minutes
            console.log(diffHrs + " hours, " + diffMins + " minutes until Christmas =)");

        </script>*@
</head>
<body style="max-width: 80%; margin: 0 auto;">
    <table>
        <tbody>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td><h1 style="display: inline-block; vertical-align: middle; color: #365b88; font-size: 1.5rem;">Booking Confirmation</h1></td>
                                <td style="text-align: right;"><img alt="Integr8ed" src="/images/Integr8ed Systems_blank.png" style="width: 120px; vertical-align: middle;"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="100px"></td>
            </tr>
            <tr>
                <td>
                    <p>Dear <strong>@Model.BookingContact</strong></p>
                    <p>Thank you for your recent booking. </p>
                    <h4 style="padding-bottom: 8px; border-bottom: 1px solid #000">We are pleased to confirm that your booking has been made for below Details.</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th style="width: 25%; padding: 5px 15px">Room</th>
                                <th style="width:  2%; padding: 5px 15px">:</th>
                                <td style="padding: 5px 15px">@Model.RoomType</td>
                            </tr>
                            <tr>
                                <th style="padding: 5px 15px">Site</th>
                                <th style="padding: 5px 15px">:</th>
                                <td style="padding: 5px 15px">@Model.branchName</td>
                            </tr>
                            <tr>
                                <th style="padding: 5px 15px">Date</th>
                                <th style="padding: 5px 15px">:</th>
                                <td style="padding: 5px 15px">@Model.BookingDateForDisplay</td>
                            </tr>
                            <tr>
                                <th style="padding: 5px 15px">Time</th>
                                <th style="padding: 5px 15px">:</th>
                                <td style="padding: 5px 15px">@Model.StartTime - @Model.FinishTime</td>
                            </tr>
                            <tr>
                                <th style="padding: 5px 15px">Duration</th>
                                <th style="padding: 5px 15px">:</th>
                                <td style="padding: 5px 15px">@Model.Duration hour(s)</td>
                            </tr>
                            <tr>
                                <th style="padding: 5px 15px">No. of Attending</th>
                                <th style="padding: 5px 15px">:</th>
                                <td style="padding: 5px 15px">@Model.NumberOfAttending </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="padding: 20px 0"></div>
                    <h4 style="padding-bottom: 8px; border-bottom: 1px solid #000">Please note that The Learning Centre on both hospital sites are open from </h4>
                    <table>
                        <thead>
                            <tr>
                                <th style="border: 1px solid #999; padding: 5px 15px;">Day</th>
                                <th style="border: 1px solid #999; padding: 5px 15px;">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="border: 1px solid #999; padding: 5px 15px;">Monday to Thursday</td>
                                <td style="border: 1px solid #999; padding: 5px 15px;">08:30 PM to 17:00 PM</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #999; padding: 5px 15px;">Friday</td>
                                <td style="border: 1px solid #999; padding: 5px 15px;">08:30 PM to 16:30 PM</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #999; padding: 5px 15px;">Saturday and Sunday</td>
                                <td style="border: 1px solid #999; padding: 5px 15px;">Closed</td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="padding: 20px 0"></div>
                    <p>If you require access to The Learning Centre prior to the centre opening or closing times, you must contact the team, prior to your event at <a href="mailto:LearningDevelopment.Centre@cht.nhs.uk" style="color:blue;">LearningDevelopment.Centre@cht.nhs.uk</a> for access to be arranged. Weekend bookings are welcome, but must be booked in advance.</p>
                    <p>Should you no longer require your booking or wish to make an amendment please contact the team at <a href="mailto:LearningDevelopment.Centre@cht.nhs.uk" style="color:blue;">LearningDevelopment.Centre@cht.nhs.uk</a> .</p>
                    <p>We look forward to seeing you soon, however please do not hesitate to contact us should you require any further assistance.</p>
                    <p>For weekend and out of hour bookings, please note that there is no IT technical support available.  If you would like to view or test the equipment prior to your meeting, please contact the Learning & Development Centre.</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>